export(rany)
export(mixture)
export(select)
export(rcharacter)
export(rfactor)
export(constant)
export(rdata.frame)
export(rmatrix)
export(ratomic)
export(rDate)
export(rdouble)
export(rinteger)
export(rnumeric)
export(rlist)
export(rlogical)
export(rraw)
export(test)
export(expect)
export(repro)
importFrom(pryr, f)
export(f)
importFrom(functional, Curry)
importFrom(digest, digest)
import(testthat)