export(rany)
export(mixture)
export(select)
export(rcharacter)
export(rfactor)
export(constant)
export(rdata.frame)
export(rmatrix)
export(ratomic)
export(rDate)
export(rdouble)
export(rinteger)
export(rnumeric)
export(rlist)
export(rlogical)
export(rraw)
export(test)
export(assert)
export(fun)
#export(import.expectations)
importFrom(functional, Curry)
importFrom(digest, digest)
importFrom(pryr, partial)